@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.barra {
    background-color: #2ec2ca;
    width: 605px;
    padding: 0;
    margin: 0;
    float: left;
    list-style-type: none;
}
li {
    float: left;
    border: 1px solid gray;
}
li>a {
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

}
li>a:hover {
    background-color: #4DE6EF;
    color: black;
    transition: 300ms;
}
#home .barra .home a{
    background-color: #4DE6EF;
    color: black;
}