@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: Open Sans;
}
ul {
    background-color: #FED450;
    width: 230px;
    list-style-type: none;
    list-style-image: url(imagens/seta.png);
}
a{
    display: block;
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
li {
    width: 200px;
    background-color: #FED450;
    padding: 5px;
}
li:hover {
    background-color: #c1a137;
    transition: 300ms;
}
