@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

ul {
    background-color: #FED450;
    width: 230px;
    list-style-type: none;
    list-style-image: url(imagens/seta.png);
}
a{
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}
li {
    width: 200px;
    background-color: #FED450;
    padding: 5px;
}